<a href="https://colab.research.google.com/github/Rosangelafl/Coda2018-SUS/blob/master/rede_sus_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [69]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [70]:
# Dados do Brasil, estados, municípios, população referente dos últimos 20 anos. Os cálculos levam em conta natalidade, 
#mortalidade e migração populacional.

#/content/drive/My Drive/Práticas Integrativas/brazil-population-1998-2017.csv
populacao = pd.read_csv('/content/drive/My Drive/Práticas Integrativas/brazil-population-1998-2017.csv', sep=';', encoding='utf8')
populacao.head(10)

     code                   city     state  ...     long  year  population
0  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2014       25652
1  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2015       25578
2  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2011       24228
3  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2009       24354
4  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2006       29005
5  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2016       25506
6  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2005       28629
7  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2003       27563
8  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2001       26919
9  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2007       23857

[10 rows x 9 columns]

In [71]:
populacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111137 entries, 0 to 111136
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   code          111137 non-null  int64
 1   city          111137 non-null  object
 2   state         111137 non-null  object
 3   abbreviation  111137 non-null  object
 4   region        111137 non-null  object
 5   lat           111137 non-null  float64
 6   long          111137 non-null  float64
 7   year          111137 non-null  int64
 8   population    111137 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 7.6+ MB

In [0]:
populacao['population'] = populacao['population'].fillna(0).astype(np.float64)

In [0]:
#populacao.info()

In [74]:
#qual municipio com mais habitantes

populacao[populacao['population'] == populacao['population'].max()]

         code       city      state  ...     long  year  population
76544  355030  São Paulo  São Paulo  ... -46.6395  2017  12106920.0

[1 rows x 9 columns]

In [75]:
populacao[populacao['population'] == populacao['population'].min()]

        code                city      state  ...     long  year  population
7962  171550  Oliveira de Fátima  Tocantins  ... -48.9086  2000       697.0

[1 rows x 9 columns]

In [76]:
#listas os anos do dataframe
populacao['year'].unique()

array([2014, 2015, 2011, 2009, 2006, 2016, 2005, 2003, 2001, 2007, 2000,
       1999, 2002, 1998, 2013, 2017, 2008, 2004, 2012, 2010])

In [77]:
#criar subconjuntos do dataframe original 
brasil = populacao[populacao['year'] == 2017]
brasil.head()

      code                   city     state  ...     long  year  population
15  110001  Alta Floresta D'Oeste  Rondônia  ... -61.9953  2017     25437.0
36  110002              Ariquemes  Rondônia  ... -63.0325  2017    107345.0
48  110003                 Cabixi  Rondônia  ... -60.5520  2017      6224.0
76  110004                 Cacoal  Rondônia  ... -61.4562  2017     88507.0
89  110005             Cerejeiras  Rondônia  ... -60.8168  2017     17934.0

[5 rows x 9 columns]

In [78]:
brasil['population'].sum()

207660929.0

In [79]:
rede_saude = pd.read_csv('/content/drive/My Drive/Práticas Integrativas/tbEstabelecimento201809.csv', sep=';', low_memory=False, encoding='utf-8')
rede_saude.head().T

                                                                                          0  ...                                          4
CO_UNIDADE                                                                    2928707453280  ...                              2510107416490
CO_CNES                                                                             7453280  ...                                    7416490
NU_CNPJ_MANTENEDORA                                                             1.38255e+13  ...                                8.73963e+12
TP_PFPJ                                                                                   3  ...                                          3
NIVEL_DEP                                                                                 3  ...                                          3
NO_RAZAO_SOCIAL                              PREFEITURA MUNICIPAL DE SANTO ANTONIO DE JESUS  ...      PREFEITURA MUNICIPAL DE NOVA FLORESTA
NO_FANTASIA                                                     POSTO DE SAUDE MINA DO SAPE  ...  NUCLEO DE APOIO A SAUDE DA FAMILIA NASF 2
NO_LOGRADOURO                                                       COMUNIDADE MINA DO SAPE  ...                       RUA BENEDITO MARINHO
NU_ENDERECO                                                                             S/N  ...                                        S/N
NO_COMPLEMENTO                                                                         CASA  ...                                        NaN
NO_BAIRRO                                                                        ZONA RURAL  ...                                     CENTRO
CO_CEP                                                                             44571000  ...                                   58178000
CO_REGIAO_SAUDE                                                                           4  ...                                        004
CO_MICRO_REGIAO                                                                         NaN  ...                                        NaN
CO_DISTRITO_SANITARIO                                                                   NaN  ...                                        NaN
CO_DISTRITO_ADMINISTRATIVO                                                              NaN  ...                                        NaN
NU_TELEFONE                                                                             NaN  ...                                        NaN
NU_FAX                                                                                  NaN  ...                                        NaN
NO_EMAIL                                                                                NaN  ...               saude@novafloresta.pb.gov.br
NU_CPF                                                                                  NaN  ...                                        NaN
NU_CNPJ                                                                                 NaN  ...                                        NaN
CO_ATIVIDADE                                                                              4  ...                                          4
CO_CLIENTELA                                                                              3  ...                                          3
NU_ALVARA                                                                               NaN  ...                                        NaN
DT_EXPEDICAO                                                                            NaN  ...                                        NaN
TP_ORGAO_EXPEDIDOR                                                                      NaN  ...                                        NaN
DT_VAL_LIC_SANI                                                                         NaN  ...                                        NaN
TP_LIC_SANI                                                                             NaN  ...                                        NaN
TP_UNIDADE                                                                                1  ...                                         71
CO_TURNO_ATENDIMENTO                                                                      4  ...                                          3
CO_ESTADO_GESTOR                                                                         29  ...                                         25
CO_MUNICIPIO_GESTOR                                                                  292870  ...                                     251010
TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')                                             19/02/2018  ...                                 01/10/2018
CO_USUARIO                                                                          TAMIRES  ...                                       FCES
CO_CPFDIRETORCLN                                                                3.41527e+09  ...                                3.24666e+10
REG_DIRETORCLN                                                                       501491  ...                                        NaN
ST_ADESAO_FILANTROP                                                                     NaN  ...                                        NaN
CO_MOTIVO_DESAB                                                                         NaN  ...                                        NaN
NO_URL                                                                                  NaN  ...                     novafloresta.pb.gov.br
NU_LATITUDE                                                                             NaN  ...                                     -6.455
NU_LONGITUDE                                                                            NaN  ...                                    -36.203
TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')                                                        NaN  ...                                 16/01/2018
NO_USUARIO_GEO                                                                          NaN  ...                                       FCES
CO_NATUREZA_JUR                                                                        1244  ...                                       1244
TP_ESTAB_SEMPRE_ABERTO                                                                  NaN  ...                                          N
ST_GERACREDITO_GERENTE_SGIF                                                             NaN  ...                                        NaN
ST_CONEXAO_INTERNET                                                                       N  ...                                          S
CO_TIPO_UNIDADE                                                                         NaN  ...                                        NaN
NO_FANTASIA_ABREV                                                                       NaN  ...                                        NaN
TP_GESTAO                                                                                 M  ...                                          M
TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')                                      03/04/2014  ...                                 02/04/2014

[51 rows x 5 columns]

In [80]:
rede_saude.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364701 entries, 0 to 364700
Data columns (total 51 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   CO_UNIDADE                                   364701 non-null  object
 1   CO_CNES                                      364701 non-null  int64
 2   NU_CNPJ_MANTENEDORA                          94451 non-null   float64
 3   TP_PFPJ                                      364701 non-null  int64
 4   NIVEL_DEP                                    364701 non-null  int64
 5   NO_RAZAO_SOCIAL                              364700 non-null  object
 6   NO_FANTASIA                                  364692 non-null  object
 7   NO_LOGRADOURO                                364700 non-null  object
 8   NU_ENDERECO                                  364415 non-null  object
 9   NO_COMPLEMENTO                               156615 non-null  object
 10  NO_BAIRRO                                    364698 non-null  object
 11  CO_CEP                                       364701 non-null  int64
 12  CO_REGIAO_SAUDE                              192424 non-null  object
 13  CO_MICRO_REGIAO                              14175 non-null   object
 14  CO_DISTRITO_SANITARIO                        26335 non-null   object
 15  CO_DISTRITO_ADMINISTRATIVO                   4078 non-null    object
 16  NU_TELEFONE                                  286873 non-null  object
 17  NU_FAX                                       80339 non-null   object
 18  NO_EMAIL                                     160197 non-null  object
 19  NU_CPF                                       128106 non-null  float64
 20  NU_CNPJ                                      145000 non-null  float64
 21  CO_ATIVIDADE                                 364701 non-null  int64
 22  CO_CLIENTELA                                 359296 non-null  float64
 23  NU_ALVARA                                    248083 non-null  object
 24  DT_EXPEDICAO                                 246623 non-null  object
 25  TP_ORGAO_EXPEDIDOR                           252274 non-null  float64
 26  DT_VAL_LIC_SANI                              74602 non-null   object
 27  TP_LIC_SANI                                  74858 non-null   float64
 28  TP_UNIDADE                                   364701 non-null  int64
 29  CO_TURNO_ATENDIMENTO                         364006 non-null  float64
 30  CO_ESTADO_GESTOR                             364701 non-null  int64
 31  CO_MUNICIPIO_GESTOR                          364701 non-null  int64
 32  TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')         364701 non-null  object
 33  CO_USUARIO                                   364701 non-null  object
 34  CO_CPFDIRETORCLN                             207549 non-null  float64
 35  REG_DIRETORCLN                               134018 non-null  object
 36  ST_ADESAO_FILANTROP                          2477 non-null    object
 37  CO_MOTIVO_DESAB                              37659 non-null   float64
 38  NO_URL                                       3295 non-null    object
 39  NU_LATITUDE                                  85916 non-null   float64
 40  NU_LONGITUDE                                 86171 non-null   object
 41  TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')             85250 non-null   object
 42  NO_USUARIO_GEO                               85079 non-null   object
 43  CO_NATUREZA_JUR                              364698 non-null  float64
 44  TP_ESTAB_SEMPRE_ABERTO                       198787 non-null  object
 45  ST_GERACREDITO_GERENTE_SGIF                  13 non-null      object
 46  ST_CONEXAO_INTERNET                          296652 non-null  object
 47  CO_TIPO_UNIDADE                              0 non-null       float64
 48  NO_FANTASIA_ABREV                            0 non-null       float64
 49  TP_GESTAO                                    364701 non-null  object
 50  TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')  364701 non-null  object
dtypes: float64(13), int64(8), object(30)
memory usage: 141.9+ MB

In [81]:
rede_saude = pd.read_csv('/content/drive/My Drive/Práticas Integrativas/tbEstabelecimento201809.csv', sep=';', encoding='utf8', low_memory=False, usecols=[0, 1, 28, 31, 49])
rede_saude.head()

      CO_UNIDADE  CO_CNES  TP_UNIDADE  CO_MUNICIPIO_GESTOR TP_GESTAO
0  2928707453280  7453280           1               292870         M
1  2301307450184  7450184          74               230130         M
2  2307307462956  7462956          22               230730         M
3  2313407462476  7462476           2               231340         M
4  2510107416490  7416490          71               251010         M

In [82]:
rede_saude.columns = ['cod_unidades', 'cod_cnes', 'tipo_unidade', 'code','cod_gestao']
rede_saude.head()

    cod_unidades  cod_cnes  tipo_unidade    code cod_gestao
0  2928707453280   7453280             1  292870          M
1  2301307450184   7450184            74  230130          M
2  2307307462956   7462956            22  230730          M
3  2313407462476   7462476             2  231340          M
4  2510107416490   7416490            71  251010          M

In [83]:
rede_saude['cod_cnes'].count()

364701

In [84]:
rede_saude['tipo_unidade'].value_counts()

22    180265
36     55028
2      39253
39     27822
1      11328
4       8770
68      6145
5       5795
42      4769
43      3573
70      3100
50      3048
74      2635
40      1497
81      1304
73      1284
7       1245
71      1200
72      1148
77       750
62       731
15       703
60       695
20       448
80       447
69       409
83       373
76       238
82       139
64       139
21       127
75        89
32        63
78        39
67        38
61        33
79        31
Name: tipo_unidade, dtype: int64

In [85]:
rede_saude['code'].count()

364701

In [101]:
#Traduzindo os códigos SUS dos tipos de unidades
#/content/drive/My Drive/Práticas Integrativas/PICs_SUS/cod_atividade.csv
tp_unidades = pd.read_csv('/content/drive/My Drive/Práticas Integrativas/PICs_SUS/cod_atividade.csv',sep=',', encoding='Latin1', low_memory=True)
tp_unidades

    cod_unidades                                          descricao   total
0              1                                     POSTO DE SAUDE   11328
1              2                     CENTRO DE SAUDE/UNIDADE BASICA   39253
2              4                                        POLICLINICA    8770
3              5                                     HOSPITAL GERAL    5795
4              7                             HOSPITAL ESPECIALIZADO    1245
5             15                                      UNIDADE MISTA     703
6             20                               PRONTO SOCORRO GERAL     344
7             21                       PRONTO SOCORRO ESPECIALIZADO     127
8             22                                CONSULTORIO ISOLADO  180265
9             32                              UNIDADE MOVEL FLUVIAL      63
10            36                    CLINICA/CENTRO DE ESPECIALIDADE   55028
11            39  UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOL...   27822
12            40                            UNIDADE MOVEL TERRESTRE    1497
13            42  UNIDADE MOVEL DE NIVEL PRE-HOSPITALAR NA AREA ...    4769
14            43                                           FARMACIA    3573
15            50                     UNIDADE DE VIGILANCIA EM SAUDE    3048
16            60  COOPERATIVA OU EMPRESA DE CESSAO DE TRABALHADO...     695
17            61                   CENTRO DE PARTO NORMAL  ISOLADO      33
18            62                             HOSPITAL/DIA  ISOLADO     647
19            67        LABORATORIO CENTRAL DE SAUDE PUBLICA LACEN       33
20            68                         CENTRAL DE GESTAO EM SAUDE    6145
21            69    CENTRO DE ATENCAO HEMOTERAPIA E OU HEMATOLOGICA     409
22            70                     CENTRO DE ATENCAO PSICOSSOCIAL    3100
23            71                 CENTRO DE APOIO A SAUDE DA FAMILIA    3100
24            72                UNIDADE DE ATENCAO A SAUDE INDIGENA    1148
25            73                                 PRONTO ATENDIMENTO    1284
26            74                             POLO ACADEMIA DA SAUDE    2635
27            75                                         TELESSAUDE      89
28            76          CENTRAL DE REGULACAO MEDICA DAS URGENCIAS     238
29            77   SERVICO DE ATENCAO DOMICILIAR ISOLADO(HOME CARE)      39
30            78           UNIDADE DE ATENCAO EM REGIME RESIDENCIAL      39
31            79                                 OFICINA ORTOPEDICA      31
32            80                       LABORATORIO DE SAUDE PUBLICA     447
33            81                     CENTRAL DE REGULACAO DO ACESSO    1304
34            82  CENTRAL DE NOTIFICACAO,CAPTACAO E DISTRIB DE O...     139
35            83  POLO DE PREVENCAO DE DOENCAS E AGRAVOS E PROMO...     373

In [0]:
tp_unidades.rename(columns={'cod_unidades': 'tipo_unidade'}, inplace=True)

In [94]:
rede_saude['cod_gestao'].value_counts()

M    341436
E     17059
D      6106
S       100
Name: cod_gestao, dtype: int64

In [95]:
tp_unidades['total'].sum()

365558

In [96]:
tp_unidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tipo_unidade  36 non-null     int64
 1   descricao     36 non-null     object
 2   total         36 non-null     int64
dtypes: int64(2), object(1)
memory usage: 992.0+ bytes

In [98]:
rede_tipo = pd.merge(rede_saude, tp_unidades, on='tipo_unidade')
rede_tipo.head()

    cod_unidades  cod_cnes  tipo_unidade  ...  cod_gestao       descricao  total
0  2928707453280   7453280             1  ...           M  POSTO DE SAUDE  11328
1  2202707466803   7466803             1  ...           M  POSTO DE SAUDE  11328
2  3106207467591   7467591             1  ...           M  POSTO DE SAUDE  11328
3  3161107465823   7465823             1  ...           M  POSTO DE SAUDE  11328
4  3504907462484   7462484             1  ...           M  POSTO DE SAUDE  11328

[5 rows x 7 columns]

In [100]:
rede_tipo[rede_tipo['tipo_unidade'] == 1].count()

cod_unidades    11328
cod_cnes        11328
tipo_unidade    11328
code            11328
cod_gestao      11328
descricao       11328
total           11328
dtype: int64

In [103]:
rede_tipo[rede_tipo['tipo_unidade'] == 2].count()

cod_unidades    39253
cod_cnes        39253
tipo_unidade    39253
code            39253
cod_gestao      39253
descricao       39253
total           39253
dtype: int64

In [104]:
rede_tipo[rede_tipo['tipo_unidade'] == 73].count()

cod_unidades    1284
cod_cnes        1284
tipo_unidade    1284
code            1284
cod_gestao      1284
descricao       1284
total           1284
dtype: int64

In [105]:
rede_brasil = pd.merge(rede_tipo, brasil, on='code')
rede_brasil.head()

    cod_unidades  cod_cnes  tipo_unidade  ...     long  year population
0  2928707453280   7453280             1  ... -39.2584  2017   103342.0
1  2928707453337   7453337             1  ... -39.2584  2017   103342.0
2  2928707453361   7453361             1  ... -39.2584  2017   103342.0
3  2928707453272   7453272             1  ... -39.2584  2017   103342.0
4  2928707510454   7510454             1  ... -39.2584  2017   103342.0

[5 rows x 15 columns]

In [106]:
rede_brasil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364198 entries, 0 to 364197
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   cod_unidades  364198 non-null  object
 1   cod_cnes      364198 non-null  int64
 2   tipo_unidade  364198 non-null  int64
 3   code          364198 non-null  int64
 4   cod_gestao    364198 non-null  object
 5   descricao     364198 non-null  object
 6   total         364198 non-null  int64
 7   city          364198 non-null  object
 8   state         364198 non-null  object
 9   abbreviation  364198 non-null  object
 10  region        364198 non-null  object
 11  lat           364198 non-null  float64
 12  long          364198 non-null  float64
 13  year          364198 non-null  int64
 14  population    364198 non-null  float64
dtypes: float64(3), int64(5), object(7)
memory usage: 44.5+ MB

In [0]:
#rede_brasil.groupby('state')['cod_cnes'].count()

In [107]:
rede_brasil['state'].value_counts()

São Paulo              88012
Minas Gerais           45486
Rio de Janeiro         27957
Rio Grande do Sul      27739
Paraná                 27281
Bahia                  19060
Santa Catarina         18673
Ceará                  12659
Goiás                  10869
Pernambuco             10473
Espírito Santo          8133
Pará                    7795
Mato Grosso             6826
Paraíba                 6758
Distrito Federal        6708
Maranhão                6105
Mato Grosso do Sul      5526
Rio Grande do Norte     4975
Piauí                   4375
Sergipe                 3925
Alagoas                 3759
Rondônia                3445
Amazonas                2814
Tocantins               2106
Acre                    1055
Roraima                  976
Amapá                    708
Name: state, dtype: int64

In [0]:
rede_state = rede_brasil['state'].value_counts()